body	{
	background: rgb(65, 174, 207);
}
aside div {
	float:left;
}
aside .AMD,.Aorus,.Asus,.HP,.Lenovo,.NVidia,
.Linux,.ROG,.Windows	{
	background: green;
	position:relative;
	padding: 15px;
	margin: 20px;
	
}
body header .section1{
	background: rgb(93, 111, 192);
	position:relative;
	padding: 30px;
	margin: 30px;
}
header .section2{
	background: rgb(163, 173, 163);
	position: relative;
	font-size: 20px;
	padding: 30px;
	margin: 30px;
	letter-spacing: 2px;
	word-spacing: 5px;
}
header > li{
	font-size: 30px;
	text-align: left;
	line-height: 100px;
}
h1{
	font-size: 30px;
	color:white;
	font-family: Arial;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: 5px;
	word-spacing: 10px;
}
h2{
	color:white;
	font-size: 25px;
	font-family: Arial;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 5px;
	word-spacing: 10px;
}